.card {
  padding: 1em;
  margin: 1em;
  background-color: rgb(107, 238, 140);
  border-radius: 3%;
  cursor: pointer;
}

#cardBig {
  display: grid;
  grid-template-areas: 
  "img name"
  "img buy";
  height: 90vh;
  width: 90vw;
  padding: 1em;
  margin: 1em;
  background-color: rgb(107, 238, 140);
  border-radius: 2vh;
  cursor: pointer;
  align-items: center;
}

#cardImg {
  grid-area: img;
  height: 70vh;
  width: 40vw;
  margin-left: 4vw;
  margin-right: 2vw;
}

#catDetails h2 {
  grid-area: name;
  font-size: 3em;
}

#catDetails p {
  grid-area: buy;
  font-size: 1.5em;
}

#buttonId {
  margin-left: 5vw;
}

.catDetails h2 {
  padding: 0.7em 0.2em 0.2em 0;
}

.catDetails p {
  padding: 0.5em 0.2em 0.5em 0;
}

.catDetails button {
  align-content: center;
  width: 4em;
  height: 2.2em;
  background-color: rgb(4, 235, 252);
  border-radius: 15%;
  border: 0.5px solid black;
  cursor: pointer;

}

.btnContainer {
  display: flex;
  width: fit-content;
  margin-left: 4vw;
  align-content: center;
  justify-content: center;
}